@use "base/variables" as v;
@use "base/mixins" as m;
@use "sass:color";


.olvide {
  margin-top: 2rem;

  .uptask {
    @include m.textoDegradado(v.$rosa);
  }

  input[type="submit"] {
    @include m.boton(v.$rosa, v.$blanco);
  }

  .acciones {
    a {
      color: v.$rosa;

      &:hover {
        color: color.adjust(v.$rosa, $lightness: -10%);
      }
    }
  }

  @include m.colorInput(v.$rosa);
}