@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.modal{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0 0 0 / .5);
    .formulario{
        max-width: 60rem;
        background-color: v.$blanco;
        padding: 2rem;
        border-radius: 1rem;
        margin: 0 auto;
        transform: translateY(-30rem);
        opacity: 0;
        transition: all .5s ease;

        .campo{
            display: flex;
            align-items: center;
            gap: 1.5rem;
            margin-bottom: 0;
        }
        .alerta{
            margin-bottom: 0;
        }

        legend{
            font-size: 2rem;
            text-align: center;
            font-weight: bold;
            margin-bottom: 1.5rem;
            display: block;//Para que pueda centar el texto
        }
        input[type="text"]{
            border: 1px solid v.$grisClaro;
            
            &:focus {
                border-color: v.$cyan ;
              }
        }
        .opciones{
            display: flex;
            justify-content: space-between;
        }

        .submit-nueva-tarea{
            @include m.boton(v.$cyan, v.$blanco);
            &{
                border-radius: .5rem
            }
        }
        .cerrar-modal{
            @include m.boton(v.$rojo, v.$blanco);
            &{
                border-radius: .5rem
            }
        }

        &.animar{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            opacity: 1;
        }
        &.cerrar{
            transform: translateY(-200%);
            opacity: 0;
        }
       
    }
}