@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.no-proyectos{

    a{
        color: v.$cyan;
    }
}

.listado-proyectos{
    list-style-type: none;
    padding: 0;
    margin-top: 3rem;
    @include m.grid(1,2rem);
    @include m.tablet {
        @include m.grid(2,2rem);
    }
    @include m.desktop {
        @include m.grid(3,2rem);
    }

    .proyecto{
        background-color: color.adjust(v.$cyan, $lightness: 3%);
        min-height: 10rem;
        border-radius: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 5px 0px rgba(145,145,145,1);
        transition: background-color .1s ease, transform .2s ease;
        a{
            color: v.$blanco;
        }
        &:hover{
            background-color: color.adjust(v.$cyan, $lightness: -3%);
            transform: scale(1.05);
        }
    }
}